#Ignore Eclipse project files

.iml
/test-output
/*.class
/target
/.settings
/.project
/.classpath
/.metadata
/*.log
/logs/
/bin


.metadata
.settings
.project
.classpath
.iml
.DS_Store

*/target
*/.settings
*/.project
*/.classpath
*/.metadata
*/*.log
